<div class="filter-search row subcat-row">
    <ul class="nav nav-pills">
        {{#each this}}
                <li data-toggle="showsub"><a href="#{{this}}" data-label="{{this}}" data-toggle="sub" aria-expanded="true">{{this}}</a></li>
        {{/each}}
    </ul>

</div>
