<div class="constrain-row row">
    <div class="col-md-3 constrain-filter-btn resizable-select">
	<div class="constrain-filter-label">Available Values</div>
	<input  class="form-control category-filter" placeholder="Filter..." value="" ></input>
	<select class="form-control available-categories"    multiple="" >
		{{#each metadata.categoryValues}}	    
		<option class="selectable-category-item" >{{this}}</option>
		{{/each}}
	</select>
    </div>
    <div class="col-md-3 constrain-filter-btn resizable-select">
	<div class="constrain-filter-label">Selected Values</div>
	<select class="form-control selected-categories" multiple="">
	
	</select>
    </div>
     <div class="constrain-search-button col-md-1">
        <span class="btn search-btn constrain-apply-btn">Run</span>
    </div>
    <div class="validation-message col-md-12"></div>
</div>
